<md-card>
  <md-card-title style="display:flex;">
    <span style="display:flex;align-self:center">Name Surname</span>
    <div style="flex-grow:10"></div>
    <span style="display:flex;align-items:center">
      <md-icon style="align-self:center">star</md-icon>
      <span style="font-size: 20px;">35.498</span>
    </span>
  </md-card-title>
</md-card>

<md-card>
  <md-card-title>Albums</md-card-title>
  <md-nav-list>
    <md-list-item>
      <span style="opacity:0.54">1.</span>
      <p>Name</p>
      <span>-</span>
      <p style="opacity:0.54">56</p>
      <div style="flex-grow:10"></div>
      <span style="right:flex-end; opacity:0.54">3.986</span>
    </md-list-item>
    <md-list-item>
      <span style="opacity:0.54">2.</span>
      <p>Nam12312e</p>
      <span>-</span>
      <p style="opacity:0.54">562</p>
      <div style="flex-grow:10"></div>
      <span style="right:flex-end; opacity:0.54">33.986</span>
    </md-list-item>
  </md-nav-list>
</md-card>