<md-card>
  <md-card-title>Playlists</md-card-title>
  <md-nav-list>
    <md-list-item>
      <span style="opacity:0.54">1.</span>
      <p>Name</p>
      <span>-</span>
      <div style="flex-grow:10"></div>
      <span style="right:flex-end; opacity:0.54">56</span>
    </md-list-item>
    <md-list-item>
      <span style="opacity:0.54">2.</span>
      <p>Nam12312e</p>
      <div style="flex-grow:10"></div>
      <span style="right:flex-end; opacity:0.54">33</span>
    </md-list-item>
  </md-nav-list>
</md-card>
<md-card>
  <md-card-title>Top Albums</md-card-title>
  <md-nav-list>
    <md-list-item>
      <span style="opacity:0.54">1.</span>
      <p>Name</p>
      <span>-</span>
      <p style="opacity:0.54">56</p>
      <div style="flex-grow:10"></div>
      <span style="right:flex-end; opacity:0.54">3.986</span>
    </md-list-item>
    <md-list-item>
      <span style="opacity:0.54">2.</span>
      <p>Nam12312e</p>
      <span>-</span>
      <p style="opacity:0.54">562</p>
      <div style="flex-grow:10"></div>
      <span style="right:flex-end; opacity:0.54">33.986</span>
    </md-list-item>
  </md-nav-list>
</md-card>