<md-card>
  <md-card-title style="display:flex; align-items:center">
    Name <span style="padding: 0 8px; opacity:.54">Author</span>
    <div style="flex-grow:10"></div>
    <md-icon>star</md-icon><span style="font-size: 20px;">35.498</span>
  </md-card-title>
  <md-nav-list>
    <md-list-item>
      <span style="opacity:0.54">1.</span>
      <p>Author</p>
      <span>-</span>
      <p style="opacity:0.54">Name</p>
      <div style="flex-grow:10"></div>
      <span style="right:flex-end; opacity:0.54">3:45</span>
    </md-list-item>
  </md-nav-list>
</md-card>